.cart-items-count{
  position: absolute;
  top: -7px;
  right: 0.8rem;
  background: #4caf50;
  color: white;
  height: 18px;
  width: 18px;
  line-height: 18px;
  border-radius: 50%;
  font-size: 11px;
}
.navcart {
  margin-left: -113px;
}
.flex-row-button{
  margin-left: 6%;
}