<!-- <mat-toolbar-row fxLayoutAlign="space-between center" class="top-toolbar theme-container">
    <span fxShow="false" fxShow.gt-xs fxLayoutAlign="center center" class="blackStyle"><mat-icon
            class="mat-icon-sm blackStyle">call</mat-icon> {{'Shared.Hotline'|translate}} </span>
    <span fxShow="false" fxShow.gt-sm class="blackStyle">{{'Shared.WelcomeToOurMarket'|translate}}</span>
    <app-top-menu></app-top-menu>
</mat-toolbar-row> -->

<div class="top-menu">    

        <a href="javascript:void(0)"> Sell with Us </a>
    
        <a href="javascript:void(0)"> Call Us </a>
    
        <a href="javascript:void(0)" class="app"> Download App
            <img src="assets/images/app-apple.png"> 
            <img src="assets/images/app-android.png"> 
            <img src="assets/images/app-windows.png"> 
        </a>
</div>
