<div fxLayout="row wrap">
    <div fxFlex="100" fxFlex.gt-sm="50" class="p-2">
        <h2 class="text-muted text-center">{{'account.AccountDetails'|translate}}</h2>
        <div class="editImage">

            <img class="img" *ngIf="!ifImageAvailable" (click)="uploadButtonClick()"
                 src="./assets/images/others/user.jpg">
            <img class="img" *ngIf="ifImageAvailable" (click)="uploadButtonClick()" [src]="imageUrl">


         <input type="file" name="userImg" (change)="uploadChange($event)" accept="image/*" #filePath
                   style="display: none">
             <span class="editProfile"  *ngIf="(ifImageAvailable)" (click)="uploadButtonClick()">Change</span>
        </div>
        <form [formGroup]="infoForm">
            <mat-form-field class="w-100 mt-2" 
              [ngClass]="{'validationcolor':((infoForm.controls.firstName.errors?.required)&&(ifSubmitted==true))}">
                <input matInput placeholder="{{'account.FirstName'|translate}}" formControlName="firstName" required>
                <mat-error *ngIf="((infoForm['controls'].firstName.errors?.required)&&(ifSubmitted==true))">
                    {{'Error.FirstNameIsRequired'|translate}}
                </mat-error>
                <mat-error *ngIf="((infoForm['controls'].firstName.hasError('minlength'))&&(ifSubmitted==true))">
                    {{'Error.FirstNameLong'|translate}}
                </mat-error>
            </mat-form-field>
            <mat-form-field class="w-100 mt-1" 
               [ngClass]="{'validationcolor':((infoForm.controls.lastName.errors?.required)&&(ifSubmitted==true))}">
                <input matInput placeholder="{{'account.LastName'|translate}}" formControlName="lastName" required>
                <mat-error *ngIf="((infoForm['controls'].lastName.errors?.required)&&(ifSubmitted==true))">
                    {{'Error.LastNameIsRequired'|translate}}
                </mat-error>
                <mat-error *ngIf="((infoForm['controls'].lastName.hasError('minlength'))&&(ifSubmitted==true))">
                    {{'Error.LastNameLong'|translate}}
                </mat-error>
            </mat-form-field>
            <mat-form-field class="w-100 mt-1" 
            [ngClass]="{'validationcolor':((infoForm.controls.email.errors?.required)&&(ifSubmitted==true))}">
                <input matInput placeholder="{{'account.Email'|translate}}" formControlName="email" required>
                <mat-error *ngIf="((infoForm['controls'].email.errors?.required)&&(ifSubmitted==true))">
                    {{'Error.EmailIsRequired'|translate}}
                </mat-error>
                <mat-error *ngIf="((infoForm['controls'].email.hasError('invalidEmail'))&&(ifSubmitted==true))">
                    {{'Error.InvalidEmailAddress'|translate}}
                </mat-error>
            </mat-form-field>
            <mat-form-field class="w-100 mt-1" 
             [ngClass]="{'validationcolor':((infoForm.controls.address.errors?.required)&&(ifSubmitted==true))}">
                <input matInput placeholder="{{'account.Address'|translate}}" formControlName="address" required>
                <mat-error *ngIf="((infoForm['controls'].address.errors?.required)&&(ifSubmitted==true))">
                    {{'Error.AddressIsRequired'|translate}}
                </mat-error>
            </mat-form-field>
            <mat-form-field class="w-100 mt-1">
                <mat-select placeholder="{{'account.Country'|translate}}" 
                 formControlName="country" 
                 required
                 (selectionChange)='onSelectCountry($event.value)'>
                    <mat-option *ngFor="let list of listsSandbox.countryList$ | async" [value]=list.countryId>
                        {{list.name}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="((infoForm.controls['country'].errors?.required)&&(ifSubmitted==true))">
                    {{'Error.CountryIsRequired'|translate}}
                </mat-error>
            </mat-form-field>
                                        <!--country-->
            <mat-form-field class="w-100 mt-1">
                <mat-select placeholder="{{'account.State'|translate}}"
                            formControlName="zoneId"
                            required
                            (selectionChange)='onSelectZone($event.value)'>
                    <mat-option *ngFor="let list of (listsSandbox.zoneList$ | async)" 
                        [value]= "list['zoneId']">
                        {{list.name}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="((infoForm.controls['country'].errors?.required)&&(ifSubmitted==true))">
                    {{'Error.StateIsRequired'|translate}}
                </mat-error>
            </mat-form-field>

            <mat-form-field class="w-100 mt-1" [ngClass]="{'validationcolor':
            ((infoForm.controls.pincode.errors?.required)&&(ifSubmitted==true))}">
                <input matInput placeholder="{{'account.Pincode'|translate}}" formControlName="pincode" required>
                <mat-error *ngIf="((infoForm.controls['pincode'].errors?.required)&&(ifSubmitted==true))">
                    {{'Error.PincodeIsRequired'|translate}}
                </mat-error>
            </mat-form-field>
            <mat-form-field class="w-100 mt-1">
                <input matInput type="text" maxlength="15" appOnlyNumber placeholder="{{'account.PhoneNumber'|translate}}" formControlName="phoneNumber">
            </mat-form-field>

            <div class="text-center mt-2">
                <button mat-raised-button color="primary" (click)="onInfoFormSubmit()">{{'account.Save'|translate}}
                </button>
            </div>
        </form>
    </div>
    <div fxFlex="100" fxFlex.gt-sm="50" class="p-2" ngClass.sm="mt-2" ngClass.xs="mt-2">
        <h2 class="text-muted text-center">{{'account.PasswordChange'|translate}}</h2>
        <form [formGroup]="passwordForm" (ngSubmit)="onPasswordFormSubmit()">
            <mat-form-field class="w-100 mt-2" [ngClass]="{'validationcolor':
            ((passwordForm.controls.currentPassword.errors?.required)&&(ifPasswordForm==true))}">
                <input matInput placeholder="{{'account.CurrentPassword'|translate}}" formControlName="currentPassword"
                       type="password" >
                <mat-error *ngIf="((passwordForm.controls['currentPassword'].errors?.required)&&(ifPasswordForm==true))">
                    {{'Error.CurrentPasswordIsRequired'|translate}}
                </mat-error>
            </mat-form-field>
            <mat-form-field class="w-100 mt-1" [ngClass]="{'validationcolor':
            ((passwordForm.controls.newPassword.errors?.required)&&(ifPasswordForm==true))}">
                <input matInput placeholder="{{'account.NewPassword'|translate}}" formControlName="newPassword"
                       type="password" >
                <mat-error *ngIf="((passwordForm.controls['newPassword'].errors?.required)&&(ifPasswordForm==true))">
                    {{'Error.NewPasswordIsRequired'|translate}}
                </mat-error>
                <mat-error *ngIf="((passwordForm.controls['newPassword'].hasError('minlength'))&&(ifPasswordForm==true))">
                    {{'Error.NewPasswordLong'|translate}}
                </mat-error>
            </mat-form-field>
            <div class="text-center mt-2">
                <button mat-raised-button color="primary" type="submit">{{'account.Change'|translate}}</button>
            </div>
        </form>
    </div>
</div> 
