<div fxLayout="row" fxLayout.xs="column" [fxLayoutAlign]="align" class="text-muted">
    <div *ngIf="type==='detail'">
        <span>{{'cart.Quantity' | translate}}:</span>
        <button mat-icon-button matTooltip="Remove" (click)="changeCount('remove')"><mat-icon>remove</mat-icon></button>
        <span> {{quantity}} </span>
        <button mat-icon-button matTooltip="Add" (click)="changeCount('add')"><mat-icon>add</mat-icon></button>
    </div>
    <div class='prod-icon'>
        <button mat-icon-button matTooltip="{{'Shared.AddToWishlist' | translate}}" (click)="addToWishList(product);isWish[product]='warn'"><mat-icon color="isWish[product]">favorite</mat-icon></button>
        <button  mat-icon-button matTooltip="{{'Shared.QuickView' | translate}}" (click)="openProductDialog(product)"><mat-icon>remove_red_eye</mat-icon></button>
        <button mat-icon-button matTooltip="{{'Shared.AddToCart' | translate}}" (click)="addToCart(product)"><mat-icon>shopping_cart</mat-icon></button>

        <!-- <span *ngIf="type==='home'" class="cart-lk">
            <a  (click)="addToCart(product)"> {{'Shared.AddToCart' | translate}} </a>
        </span> -->
    </div>
</div> 
<div *ngIf="product?.availibilityCount == 0 && type=='all'" class="bg-warn p-1 mt-2">
    Sorry, this item is unavailable. Please choose a different one.
</div>
<!-- *ngIf="type==='all'" -->